.grid-container {
    display: grid;
    grid-template-rows: 80px 1fr;             /* 2 rows: top 80px, bottom available space */
    grid-template-columns: 1fr 700px 1fr;     /* 3 columns: left availible space, middle 700px, right available space */
    height: 100vh;                          
}

.header {
    grid-column: 1 / 4;
    background-color: #f0f0f0;      /* light gray */
    text-align: center;               /* allign text center */
    padding: 20px;                    /* space inside the box */
}

/* left column styling */
.left {
    background-color: #d1e7dd;      /* light green */
    padding: 20px;
}

/* middle column styling */
.middle {
    background-color: #fff3cd;      /* light yellow */
    padding: 20px;
}

/* right column styling */
.right {
    background-color: #f8d7da;      /* light red */
    padding: 20px;
}

.notes{
    width: 300px;
    min-height: 200px;
    max-height: 300px;
    padding: 10px;                /* space inside the box around text */
    font-size: 16px;            
    border: 2px solid #ccc;     /* light grey border */
    border-radius: 10px;          /* rounded corners */
    resize: none;                 /* disable manual resize by user */
    overflow-y: auto;             /* show scroll bar if content overflows */
    outline: none;                /* remomve default browser focus outline */
    display: block;               /* allow margin auto allignment */
    margin-left: auto;            /* push box to right */
    margin-right: 20px;           /* add space from right edge of page */
}