h1{
    text-align: center;
}

.notes{
    width: 300px;
    min-height: 200px;
    max-height: 300px;
    padding: 10px;                /* space inside the box around text */
    font-size: 16px;            
    border: 2px solid #ccc;     /* light grey border */
    border-radius: 10px;          /* rounded corners */
    resize: none;                 /* disable manual resize by user */
    overflow-y: auto;             /* show scroll bar if content overflows */
    outline: none;                /* remomve default browser focus outline */
    display: block;               /* allow margin auto allignment */
    margin-left: auto;            /* push box to right */
    margin-right: 20px;           /* add space from right edge of page */
}